Options +SymLinksIfOwnerMatch
IndexIgnore */*
RewriteEngine on


#RewriteRule ^(.*)(en/)(.*)$ /$1$3 [R=301,NC,QSA,L]

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
RewriteRule ^fonts/(.*)$ /web/fonts/$1 [L]
RewriteRule ^css/(.*)$ /web/css/$1 [L]
RewriteRule ^js/(.*)$ /web/js/$1 [L]
RewriteRule ^images/(.*)$ /web/images/$1 [L]
RewriteRule ^content_images/(.*)$ /web/content_images/$1 [L]
RewriteRule (.*) /web/$1 [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php
